body,html{
    height: 100%;
    width: 95%;
}

.container{
    text-align: center;
    background-color: rgb(83, 78, 78);
    height: 100%;
    width: 100%;
}
.btn{
    background-color: rgb(180, 180, 0);
    font-weight: 600;
}