body,html{
    height: 100%;
    width: 95%;
    font-family: Verdana;
}

.container{
    text-align: center;
    background-color: rgb(83, 78, 78);
    height: 100%;
    width: 100%;
}
.btn{
    background-color: rgb(21, 146, 129);
    font-weight: 600;
}

.table{
    align-content: center;
    width:50%;
    background-color: honeydew;
}

#td {
 text-align: center;
}